@charset "utf-8";
body{
	font-family:'helvetica neue',PingFangSC-medium,'hiragino sans gb',tahoma,'microsoft yahei',simsun,sans-serif;
}
.ts {
	width: 200px;
	height: 20px;
	border: 1px solid red;
	margin-top: -20px;
	margin-left: 250px;
}

/* for font & text & tag =================================== */
.red {
	color: red !important;
}

.gray {
	color: #686868 !important;
}

.hasDefaultText {
	color: #999;
}

.orange {
	color: #f60 !important;
}

.green {
	color: #79a605 !important;
}

.blue {
	color: #0057b0 !important;
}

.inputxt {
	width: 100%;
	border: none;
	background-color: #fff !important;
}

.Validform_checktip {
	margin-left: 8px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	color: #999;
	font-size: 12px;
}

.Validform_right {
	color: #1da30b;
	padding-left: 20px;
	background: url(../images/right.png) no-repeat left center;
}

.Validform_wrong {
	color: #ff4000;
	padding-left: 20px;
	white-space: nowrap;
	background: url(../images/error.png) no-repeat left center;
}

.Validform_loading {
	padding-left: 20px;
	background: url(../images/onLoad.gif) no-repeat left center;
}

.Validform_error {
	background-color: #FFE2E5;
}

#Validform_msg {
	color: #7d8289;
	font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
	width: 280px;
	height:75px;
	-webkit-box-shadow: 2px 2px 3px #aaa;
	-moz-box-shadow: 2px 2px 3px #aaa;
	background: #fff;
	position: fixed!important;
	top: 0!important;
	right: 0!important;
	bottom:0!important;
	left:0!important;
	margin:auto!important;
	z-index: 99999;
	display: none;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135,
		Color='#999999');
	box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

#Validform_msg .iframe {
	position: absolute;
	left: 0px;
	top: -1px;
	z-index: -1;
}

#Validform_msg .Validform_title {
	font-size: 14px;
	line-height: 24px;
	height: 24px;
	text-align: left;
	font-weight: bold;
	padding: 0 8px;
	color: #fff;
	position: relative;
	background-color: #21a1d6;
}

#Validform_msg a.Validform_close:link, #Validform_msg a.Validform_close:visited
	{
	line-height: 22px;
	position: absolute;
	right: 8px;
	top: 0px;
	color: #fff;
	text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
	color: #ccc;
}

#Validform_msg .Validform_info {
	padding:8px;
	height:35px;
	border: 1px solid #bbb;
	border-top: none;
	text-align: left;
	color:#ff3000;
	font-size: 14px;
}

/*a  upload */
.a-upload {
	margin-top: 50px;
	margin-left: 15%;
	text-align: center;
	width: 220px;
	padding: 4px 10px;
	height: 30px;
	line-height: 30px;
	position: relative;
	cursor: pointer;
	color: white;
	background: #79D6E7;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.a-upload  input {
	position: absolute;
	font-size: 100px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	cursor: pointer
}

.a-upload:hover {
	color: white;
	background: #79D6E7;
	border-color: #ccc;
	text-decoration: none
}

.b-upload {
	margin-top :20px;
	padding:0;
    line-height: 40px;
    position: relative;
    cursor: pointer;
    color: white;
    display:block;
	*zoom: 1;
	float: left;
}

.b-upload>div{
	width: 240px;
	margin:auto;
    height: 40px;
    color:#333;
    line-height: 40px !important;
    border-radius:40px !important;
    font-size: 16px;
    font-weight: bold;
    padding: 0px !important;
}

.b-upload>div>img{
	width:28px;
	height:24px;
	vertical-align: middle;
}

.b-upload>div>span{
	height:40px;
	margin-left:10px;
}

.b-upload  input {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	cursor: pointer;
	width:100%;
	height:100%;
}


.page {
	/* 	margin-top:20px; */
	clear: both;
}

.zhuangtai .selected {
	background-color: #79D6E7;
}


table.gridtable {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #333333;
	border-width: 1px;
	border-color: #D3D3D3;
	border-collapse: collapse;
}

table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #D3D3D3;
	background-color: #f5f5f5;
}

table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #D3D3D3;
	background-color: #ffffff;
}

.operateBtn {
	background-color: #79D6E7;
	color: #fff;
	font-weight: 600;
	border: none;
	height: 32px;
}

.shortBtn {
	width: 80px;
	height: 34px;
	line-height: 34px;
}

.sc_div li:last-child {
	width: 520px !important;
}

.sc_div  li div {
	width: 118px !important;
	margin-left: 10px;
	float: left;
}

/*财务模块弹框*/

.money>h1{
    margin-top:20px;
}
.click_shoukuan,.click_fukuan{
    cursor:pointer;
}

/* 
.money_list{
    width:660px;
    height:250px;
    margin-left:20px;
    margin-top:10px;
    overflow-y: auto;
    padding:5px 0;
}

.btn_money{
    width:200px;
}

.money_list>table{
    width:100%;
    border-collapse: collapse;
}

.money_list>table tr td{
    border:1px solid #ccc;
    width:10%;
    padding:10px 0;
} 
*/

.bianji_caozuo{
    width:500px;
    height:500px;
    background-color:#fff;
    display:inline-block;
    margin-top:150px;
}

.bianji_ipt{
    width:670px;
    margin-left:15px;
    margin-top:10px;
}

.bianji_ipt>div{
    text-align:left;
    float:left;
}

.ipt_2{
    width:310px;
}

.bianji_ipt>div.ipt>input{
    width:580px;
    height:38px;
    margin-left:5px;
}

.ipt_2>input{
    width:200px!important;
}

.div_red {
    background-color:#ffe8e3 !important;
    background:#ffe8e3 !important;
    border: 1px #ff875f solid !important;
}

.div_red td{
	background-color:#ffe2e6!important;
    background:#ffe2e6!important;
}

.youIpt{
	width:450px;
}

.kucun-table1 {
    margin-bottom: 30px;
}

.table-comment {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table-comment tr th:first-child {
    background: #000;
    color: #fff;
    width: 164px;
    border-color: #000;
}

.table-comment tr th {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #000;
    background: #e6e6e6;
}

.table-comment tr td {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #000;
}

.table-comment tr th {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #000;
    background: #e6e6e6;
}

/**************新风格样式 修改时间：2017.06.19**************/
/******************链接文字样式******************/
.a-href{
	color:#478cdd !important;
	font-size: 14px;
}

.a-href:HOVER{
	color:#ff4000 !important;
}

/******************新版弹框样式******************/
.btn-tank{
	float: right;
	margin-left: 10px;
}

.input-msg {
    float: left;
    margin-left: 20px;
    color: #ff4000;
    line-height: 28px;
}

.input-msg-second{
	float: right;
	margin-top: 2px;
	color: #999;
	font-size: 12px;
}

/******************主按钮样式******************/

.tank-bqx{
	margin-right: 20px;
}

.btn-main{
	color:#fff !important;
	background: #478cDd !important;
	border-radius: 2px !important;
	border:1px #478cDd solid !important;
	min-width: 60px;
	padding-left: 10px;
	padding-right: 10px;
	height: 28px;
	line-height: 28px;
}

.btn-main:HOVER {
	background: #63a3ef !important;
	border-color: #63a3ef !important;
}

.btn-second{
	color:#478cdd !important;
	background: #fff !important;
	border-radius: 2px !important;
	border:1px #478cdd solid !important;
	text-align: center;
	min-width: 60px;
	padding-left: 10px;
	padding-right: 10px;
	height: 28px;
	line-height: 28px;
}

.btn-second:HOVER{
	color:#63a3ef !important;
	background: #e9f2ff !important;
}

.btn-third{
	color:#478cdd !important;
	background: #e9f2ff !important;
	border-radius: 2px !important;
	text-align: center;
	min-width: 60px;
	padding-left: 10px;
	padding-right: 10px;
	height: 28px;
	line-height: 28px;
}

.btn-third:HOVER{
	color:#fff !important;
	background: #63a3ef !important;
}

.btn-main-disabled{
	background: #dfe1e4 !important;
	color: #999 !important;
}

/*文字按钮样式*/
.btn-text{
	color:#478cdd !important;
}

.btn-text:HOVER{
	color:#ff4000 !important;
}

/*下拉阴影*/
.select-shadow{
	box-shadow: 0 0px 16px rgba(31,37,43,0.2);
	-webkit-box-shadow: 0 0px 16px rgba(31,37,43,0.2);
	-moz-box-shadow: 0 0px 16px rgba(31,37,43,0.2);
}

/*小弹窗提示按钮*/
.tishi-btn{
	border-radius:0px;
	background: #1f252b;
	color: #fff;
}

.tishi-btn:HOVER{
	background: #272c31;
}

/*保存按钮转圈圈样式*/
.qd-tishi {
    position: absolute;
    right: 90px;
    bottom: 20px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    background: #dfe1e4;
    color: #ff4000;
    border-radius: 2px;
}

.qd-tishi>img{
	width: 20px;
    margin-top: 5px;
}

/*弹出提示样式*/
.tank-tishi-error {
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.account {
    width: 240px;
    height: 130px;
    background: rgba(31,37,43,0.9);
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.tank-tishi-main-cancel {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    color: #999;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.tank-tishi-error-con {
    margin-top: 54px;
    display: inline-block;
    line-height: 22px;
}

.tank-tishi-error-con-img {
    width: 22px;
    margin-right: 10px;
    float: left;
}

.tank-tishi-error-con-txt {
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    height: 22px;
}
